.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        gap: 1rem;

        input {
            padding: 0.5rem;
            border: 1px solid #ddd;
            border-radius: 5px;
            width: 15rem;
        }

        button {
            padding: 0.5rem 2rem;
            border: 1px solid #ddd;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}