$color-main: #faf9f9;
$color-main-hover: #d4d4d4;
$color-white: white;
$color-black: black;
$color-card-title: rgb(132, 132, 132);
$color-card-text: rgb(76, 76, 76);
$color-menuitem: rgb(100, 100, 100);
$color-border: #ddd;
$color-red: red;
$color-green: green;

$box-shadow1: 0 2px 4px rgba(0, 0, 0, 0.1);